@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #3370ff;
    --color-primary-hover: #295ac8;
    --color-secondary: #64748b;
    --color-surface: #ffffff;
    --color-background: #f5f6f7;
  }
}

@layer utilities {
  .text-primary { color: var(--color-primary); }
  .bg-primary { background-color: var(--color-primary); }
  .bg-primaryHover { background-color: var(--color-primary-hover); }
}